.game-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #57b664;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: #c9c8c8;
}