body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.the-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.btn {
  width: 110px;
  height: 25px;
  border-radius: 8px;
  border: none;
  border: 1px solid #000;
  background-color: #57b664;
}

.btn:hover {
  transform: scale(1.15);
}

.start-btn {
  margin-top: 40px;
}